<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join !</title>
    <style>
        .messages {
            color : #963b3b;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    <h1>Join</h1>
    <section class="messages"><%= message %></section>
    <form action="/join" method="post">
        email : <input type="email" name="email" id="email"> <br/>
        password : <input type="password" name="password" id="password">
        <input type="submit" value="제출">
    </form>

    <br/>
    <br/>

    <h2>Other Page</h2>
    <section>
        <ul>
        <% for(var i=0; i < pages.length; i++) { %>
            <li><a href="<%= pages[i] %>"> <%= pages[i] %> </a></li>
        <% } %>
        </ul>
    </section>
</body>
</html>